* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
:root {
  /*  ## Colors

### Primary */
  --whiteLetter: white;
  --Cyan: hsl(180, 66%, 49%);
  --DarkViolet: hsl(257, 27%, 26%);

  /* ### Secondary */

  --Red: hsl(0, 87%, 67%);

  /* ### Neutral */

  --Gray: hsl(0, 0%, 75%);
  --GrayishViolet: hsl(257, 7%, 63%);
  --VeryDarkBlue: hsl(255, 11%, 22%);
  --VeryDarkViolet: hsl(260, 8%, 14%);
}
/*header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 10px auto;
}
#btn-menu {
  font-size: 1.25em;
  color: var(--Gray);
}
.header-wrpa-img-menu {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.header-img {
  width: 95vw;
  height: 50vh;
  position: absolute;
  right: 0;
  background: url(images/illustration-working.svg) no-repeat;
  background-size: cover;
}
/*menu nav*/
.menu {
  display: none;
  width: 90vw;
  height: 50vh;
  text-align: center;
  padding: 35px 20px;
  border-radius: 10px;
  position: absolute;
  color: var(--whiteLetter);
  background-color: var(--DarkViolet);
}
.menu-options {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 20px;
}
.menu-option-tittle {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.toggleMenu {
  display: block;
}
.btn-menu-header {
  width: 100%;
}
.model-btn {
  border: none;
  padding: 10px 40px;
  font-size: 1em;
  font-weight: 500;
  color: var(--whiteLetter);
  border-radius: 40px;
  background-color: var(--Cyan);
}
.paragraph-info {
  margin: 30px 0 150px;
  text-align: center;
}
.tittle-two {
  font-size: 2em;
  line-height: 35px;
  margin-bottom: 10px;
}
.paragraphGray {
  color: var(--Gray);
  margin-bottom: 10px;
}
/*wrap shorten + feacture info*/
.wrap-shorten-feactureInfo {
  position: relative;
  display: flex;
  justify-content: center;
}
/*shorten link
*/

.shortenLink {
  position: absolute;
  top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 90vw;
  border-radius: 10px;
  background: #3a3053 url(images/bg-shorten-mobile.svg) no-repeat;
  background-position: right top;
}
.messageErr {
  color: var(--Red);
  font-size: 0.7em;
  font-style: italic;
  display: none;
}

.btnLink {
  width: 80%;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}
.wrap-errMessage {
  width: 80%;
  height: 20px;
}
.errLink input {
  outline-color: var(--Red);
  margin-bottom: 0px;
}
.errLink .messageErr {
  display: block;
}
/*wrap cards*/
.info-feture {
  text-align: center;
  padding-top: 150px;
  background-color: #f0f1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*decriptions cards*/
.info-feature-first {
  width: 90%;
  margin-bottom: 90px;
}
.info-feacture-tittle {
  font-size: 1.6em;
  margin-bottom: 15px;
}
.info-feature-paragraph {
  color: var(--GrayishViolet);
}
/*card*/
.info-cards {
  width: 90%;
}
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  margin-bottom: 85px;
  background-color: white;
  position: relative;
  padding: 70px 20px 30px;
  z-index: 1;
}
.info-card-wrap-icon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  background-color: var(--DarkViolet);
}
.info-card-tittle {
  margin-bottom: 20px;
}
.info-card-paragraph {
  color: var(--GrayishViolet);
}
/*line card*/
.lineCard {
  width: 100%;
  height: 7px;
  display: inline-block;
  transform: rotate(90deg);
  background-color: var(--Cyan);
  z-index: -1;
}
/*section of invitation*/
.invitation {
  height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(images/bg-boost-mobile.svg) no-repeat;
  background-position: top right;
  background-color: var(--DarkViolet);
}
.invitation-tittle {
  font-size: 1.75em;
  margin-bottom: 20px;
  color: var(--whiteLetter);
}
/*footer*/
.footer-end {
  height: 100vh;
  text-align: center;
  padding-top: 40px;
  background-color: var(--VeryDarkViolet);
}
.footer-info {
  margin-bottom: 40px;
}
.footer-end-tittle {
  font-size: 1.8em;
  margin-bottom: 40px;
  color: var(--whiteLetter);
}
.footer-info-tittle {
  margin-bottom: 15px;
  color: var(--whiteLetter);
}
.footer-info-paragraph {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: var(--Gray);
}
.footer-socail {
  font-size: 1.5em;
  color: var(--whiteLetter);
}
.fab {
  margin-right: 15px;
}
